img {
    width:400px;
    border:hidden;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.tableauPlaceholder {
    padding-bottom: 20px;
}

body {
    background-color: rgb(181, 215, 255);
    font-family: 'Courier New', Courier, monospace;
}

iframe {
    border: 2px solid rgb(83, 82, 82);
    border-radius: 10px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
}

.text1{
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(11, 11, 100);
    padding-bottom: 10px;
}

h2 {
    font-size: 30px;
}

.mainheader {
    background-color: black;
    color:white;
}